.banner {
  background-position: center;
  height: 400px;
  background-repeat: no-repeat;
  display: flex;
  background-size: cover;
  background-position: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
}
